.book-show-row{
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
    align-items: flex-start;
    margin-top: 55px;
    


}

/* .column {
    margin: 50px;
    flex: 50%;
} */
.column img{
    max-height: 212px;
    max-width: 140px;
    box-shadow: 2px 2px 4px #1d1c1c;
    
}
#book-img{
    margin-right: 25px;
    margin-top: 20px;
}

#book-info{
 max-width: 450px;
 margin-top: 18px;
    margin-right: 20vh;
}
#book-info h1{
    
    margin: 0;
    padding:0;
    /* line-height: 0; */
}
#book-title{
    font-weight: bold;
}
#review-list{
    list-style: none
}
#bookshelf-button{
    position: relative;
    left: 21px;
    margin-top: 20px;
}
