
.dropdown {
  /* float: left; */

  width: 100%;
  margin-left: 4px;
  margin-top: 8px;
  position: relative;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border-width: .5px;
  border-color: rgb(110, 108, 108);
  outline: none;
  color: white;
  padding: 6px 8px 6px 8px;
  background-color: #409D69;
  margin: 0; 
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: #3d9363;
  
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  position: absolute;
  margin: 0;
  padding: 0px;
  background-color: #f9f9f9;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0bfbf;
  box-shadow: 0 3px 4px -3px rgba(0,0,0,0.5);
  max-height: 250px;
  min-width: 150px;
  list-style: none;
  /* width: 100%; */
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  right: 5px;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  text-align: left;
}

.dropdown-content li {
    float: none;
    
    color: black;
    /* padding: 12px 16px; */
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-decoration: none;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-left: 15px;
}

/* .dropdown-content li{
  background-color: black;
} */

/* Add a grey background color to dropdown links on hover */
.dropdown-content li:hover {
  background-color: #ddd;
}
.dropdown-content li:active {
  background-color: rgb(255, 255, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s
}

.fa-caret-down{
  margin-left: 7px;
}

