.nav-bar{
  
    background-color: #f4f1ea;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    height: 50px;
    
    font:'Lato', sans-serif;
    
    position: fixed;
    top: 0;
    width: 100%;
}
.header-parent{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    vertical-align: baseline;
    margin-left: 15%;
    margin-right: 15%;
}

#username{
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #382110;
}
#small-title{
    font-size: 32px;
    display: inline-block;
    text-align: center;
    font-size: 32px;
   
    font: "Heebo", sans-serif;
    font-weight: 100;
    color: #4d2600;
    font-style: normal;
}
#user-nav{
text-align: bottom;
font-family: 'Lato', sans-serif
/* height: 20px; */

}
#logout{
    position: relative;
    bottom: 4px;
    display: block;
    font-size: 8px;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #F4F1EA;
    /* line-height: 1; */
    padding: 4px 8px;
    /* margin-bottom: 45px;
    margin-top: 25px; */
}
#logout:hover{
     color: #333333;
    background-color: #ede6d6;
    text-decoration: none;
}
.block{
    display: inline-block;
    text-align: center;
}

#bookshelf{
    height: fit-content;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(78, 12, 1);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 15px;

}
#bookshelf:hover{
    color: white;
    background-color: #382110;
}
.links{
    /* text-decoration: underline; */
    color: rgb(78, 12, 1);
    font-size: 15px;
}
#booksdiv{
}
.searchBox{
        background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    flex: 1;
    padding: 4px 26px 4px 8px;
    width: 100%;
    font-size: 14px;
    height: 32px;
    box-sizing: border-box;
    display: block;
}
#searchbar-box{
    /* margin-left: 50px; */
}
.search{
    flex-grow: 1;
    margin-right: 16px;
    margin-left: 16px;
margin-top: 9px;
}
#searchbar-box:focus-within{
    pointer-events: none;
}
#searchbar-box:focus-within + .search-dropdown{
    opacity:1; 
    visibility:visible;
}
.search-dropdown{
    list-style: none;
    z-index: 70;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    
}


.search-li{
color: black;
}
.search-li:hover{
    background-color: #f4f1ea;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}