.signin-form{
    margin: 10px;
    padding-top: 5px;
    height: 100px;
    text-align: center;

}
.signinboxes{
    margin: 2px;
    width: 120px;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font: 'Lato', sans-serif;
    
}

#submitbox{
    background-color: #382110;
    color: white;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #382110;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    padding: 8px 12px;
    height: 35px;
    text-align: center;
    
    
}
#submitbox:hover{
    background-color: #58371F;
    border: 1px solid #382110;
    color: white;
}

.errorBox{
    color: red;
    display: block;
    font-size: small;
    list-style: none;
    padding: 0;
        overflow: auto;
    width: 150%;
    margin: 0;
    margin-top: 11%;
    height: 38px;
}