#signup-form{
display: block;
}
#new{
    margin:  5px;
    color: #000;
    margin-top: 0px;
    font: "Lato", sans-serif;
    text-align: left;
    font-size: 18px;
    font-style: bold;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
.signup-input-boxes{
    width: 270px;
    padding: 7px 5px;
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    display: block;
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font-family: 'Lato', sans-serif;
    position: relative;
    margin-top: 5px;
}

#signupbox{
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    background-color: #fdd05f;
    font-size: 18px;
    line-height: 22px;
    width: 85px;
    display: block;
    position: relative;
    margin-top: 5px;
}