.splash-all{
    height: 370px;
    background-image: url(https://s.gr-assets.com/assets/home/masthead_background.jpg);
    margin: 0;

}
.splash-header{
    display: flex;
    justify-content: center;



}
#splash-title {

    margin-right: 450px;
    font-size: 40px;
   
    font: "Heebo", sans-serif;
    font-weight: 100;
    color: #4d2600;
    font-style: normal;
}
span.book{
    font-weight: 300;
  
}
.splash-login-container{
    height: 100px;
    margin-right: 85px;

}
.splash-signup-div{

    display: flex;
    justify-content: center;

}

#splash-slogan{
    width: 446px;
    height: 116px;
    margin-right: 135px;

}


